
@{
    ViewBag.Title = "SicaklikList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 
 @using PagedList.Mvc;
@model PagedList.IPagedList<SeraOWeb.Models.DataAccess.Dht11>



<a href="~/Home/SicaklikKontrolu"><button style="margin-bottom: 15px;" type="button" class="btn btn-info"> Geri Dön</button> </a>
<table class="table" style="background-color:floralwhite;  border: 10px solid aliceblue">
    <tr>

        <th style="background-color: aliceblue">
            @Html.DisplayName("Sıcaklık Değerleri")
        </th>
        <th style="background-color: aliceblue">
            @Html.DisplayName("Tarih")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td style="background-color:white">
                @Html.DisplayFor(modelItem => item.Sicaklik)
            </td>
            <td style="background-color:white">
                @Html.DisplayFor(modelItem => item.ETarihi)
            </td>

        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("SicaklikList", new { page, pageSize = Model.PageSize }))

Toplam @Model.TotalItemCount kayıt bulundu. Bu sayfada @Model.FirstItemOnPage ile @Model.LastItemOnPage arası kayıtlar gösteriliyor.
